<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1" >
	<test name="BlazeDemoChrome">
		<!--parameter name="searchKey" value="UK" /-->
		<parameter name="browser" value="chrome" />
		<parameter name="from" value="Paris" />
		<parameter name="to" value="Berlin" />
		<classes>
			<class name="blazedemosetup.BlazeDemoDriverSetup">
			</class>
		</classes>
	</test>
	<test name="BlazeDemoFirefox">
		<!--parameter name="searchKey" value="UK" /-->
		<parameter name="browser" value="firefox" />
		<parameter name="from" value="Paris" />
		<parameter name="to" value="Berlin" />
		<classes>
			<class name="blazedemosetup.BlazeDemoDriverSetup">
			</class>
		</classes>
	</test>
</suite>